
<div class="builderDiv">
  <div class="bandMember keyboards" data-role="keyboardist"></div>
  <div class="bandMember vocals" data-role="frontman"></div>
  <div class="bandMember drums" data-role="drummer"></div>
  <div class="bandMember guitar" data-role="bassist"></div>
  <div class="completeBand disabled"></div>
  <div class="sound"></div>
  <canvas class="bandCanvas" width="600" height="600"></canvas>
  <!--
  <canvas class="bandCanvas" width="1024" height="643"></canvas>
  <button class="addPhotoButton">Add Photo</button>
  <div class="mute soundOn"></div>
-->
</div>
<div class="thanksDiv" style="display:none">
  <div class="shareApp"></div>
  <div class="code">CODE: LXJTY3</div>
  <div class="bookNow"></div>
</div>


<!--
<button class="shareButton">Share it</button>
<button class="advancedShareButton">Advanced Share</button>
<button class="advancedShareButton">Advanced Share</button>
-->



