#main {text-align: center;}

.intro, .app {
  width: 760px;
  height: 800px;
  padding: 0;
  margin: 0;
  border: solid 1px black; /*will remove*/
  display: inline-block;
}

.intro .background {
  background-image: url('/assets/images/step-one-background.jpg');  
  width: 760px;
  height: 766px;
  position: relative;
}

.getstarted{
background-image: url('/assets/images/step-one-cta.png');  
  width: 285px;
  height: 88px;
  position: relative;
  display: inline-block;
  top: 438px;
  left: 10px;
}


.bandCanvas {
  width: 1024px;
  height: 643px; 
  position: relative;
  top: -167px;
}

.header {
  background-image: url('/assets/images/header.jpg');
  width: 1024px;
  height: 80px;
}

.offer {
  background-image: url('/assets/images/tickets.png');
  width: 317px;
  height: 167px;
  left: 707px;
  position: relative;
  right: 0;
  top:-80px;
  z-index: 100;
}

.offer:hover {
  background-image: url('/assets/images/tickets_hover.png');
  width: 317px;
  height: 167px;
  left: 707px;
  position: relative;
  right: 0;
  top:-80px;
  z-index: 100;
}





/* fix for ios form zooming: http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
input[type='text'], input[type='number'], textarea {
  font-size:16px;
}

/*
  .friendFilter {
    font-family: 'Metal Mania', cursive, Arial, Sans-Serif;
  }
  */

  .friendList {
    position: relative;
    height: 300px;
    margin: 0;
    padding: 0;
    width: 270px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;
  }
  
  .friendChooser li {
    text-align: left;
    position: relative;
    padding: 16px;
    font-size: 18px;
    z-index: 2;
    border-bottom: solid 1px black;

    -webkit-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
          -o-transform: translateZ(0px);
            transform: translateZ(0px);
  }
  
  .friendChooser li span {
    padding-left: 10px;
  }
 /*
  .friendChooser li:hover {
    -webkit-transform: scale(1.1,1.1); 
       -moz-transform: scale(1.1,1.1); 
        -ms-transform: scale(1.1,1.1); 
         -o-transform: scale(1.1,1.1); 
            transform: scale(1.1,1.1);
  }
 
  .friendChooser li.selected {
    -webkit-transform: scale(.1,.1); 
       -moz-transform: scale(.1,.1); 
        -ms-transform: scale(.1,.1); 
         -o-transform: scale(.1,.1); 
            transform: scale(.1,.1);
  }

.fbFriendSelectorContainer {
  background-color: rgba(0,0,0,.5);
  text-align: center;
  display: relative;
} 
  .fbFriendSelector {

    z-index: 100;
    background-color: white;
    width: 500px;
    top: 100px;


       -moz-border-radius: 5px;
            border-radius: 5px;

       -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
            box-shadow: 5px 5px 5px black;
  }
   */
  

  .addPhotoButton{
    font-size: 24pt;
    position: relative;
    top: -200px;
    width: 300px;
    height: 100px;
  }
  .shareButton{

    font-size: 24pt;
        width: 100px; 
    height: 30px;
  }
   .advancedShareButton{

    font-size: 24pt;
        width: 100px; 
    height: 30px;
  }

.lazy {
  display: none;
}

.fbFriendSelectorContainer {
  width: 270px;

         -moz-border-radius: 15px;
            border-radius: 15px;

       -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
            box-shadow: 5px 5px 5px black;
}

.friendChooser > div { 
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.closeButton{
  position: absolute;
right: 20px;
}

.muted {
  background-image: url("/assets/images/1352293712_sound_mute.png");
  width: 48px;
  height: 48px;
  display: inline-block;
  top: -807px;
  left: -616px;
  position: relative;
}

.soundOn {
  background-image: url("/assets/images/1352293826_sound_high.png");
  width: 48px;
  height: 48px;
  display: inline-block;
  top: -807px;
  left: -616px;
  position: relative;
}