  <div class="friendChooser">
    <div class="closeButton"></div>
    <div>
      <div class="role keyboardist"><h1>Keyboards</h1>"The Whiz Kid." Loves "composition theory" and "musical mathematics." Reads obscure Russian literature at sports bars. Always the first one in bed after the show. Wears a sensible jacket and slacks while the rest of the band has on ripped jeans and skull t-shirts.</div>
      <div class="role drummer"><h1>Drums</h1> "The Wild One." Part human, part feral animal. Never forgets drumsticks, but sometimes forgets pants. Is fully functional on two hours of sleep. Would consider jumping through a screen door just to see what it felt like. Not built for dinner parties.</div>
      <div class="role frontman"><h1>Vocals</h1> "The Face." Interested in rock for the constant attention and chance to wear tight pants. Spends more time on hair than at band practice. The perfect “frontman.” Likes to be referred to by stage name; family included. Damn good looking.</div>
      <div class="role bassist"><h1>Guitar</h1> "The Brooding Artist." Feels constantly tormented by "fakes" and "phonies. Has tattoos, but doesn’t like to talk about them. Wildly talented. Wrote first love song at 5 years old. Misunderstood by everyone but dogs and guitars.</div>
    </div>
  	<div>
      Sound like any of your friends? <input type="text" class="friendFilter" placeholder="Search"/>
  	   <div class="friendList"></div>
    </div>
  </div>
