  <div class="friendChooser">
    <button class="closeButton">close</button>
    <div>
      Choose a friend for the position in the band:
      <div class="role keyboardist"><h1>The Keyboardist:</h1> A cool geeky person</div>
      <div class="role drummer"><h1>The Drummer:</h1> Tons of energy</div>
      <div class="role frontman"><h1>The Frontman:</h1> Always in the limelite</div>
      <div class="role bassist"><h1>The Bassist:</h1> Always has your back</div>
    </div>
  	<div>
      filter:<input type="text" class="friendFilter"/>
  	   <ul class="friendList"></ul>
    </div>
  </div>
