
<div class="builderDiv">
  <canvas class="bandCanvas" width="1024" height="643"></canvas>
  <button class="addPhotoButton">Add Photo</button>
  <div class="mute soundOn"></div>
</div>
<div class="thanksDiv" style="display:none">
  <h1>Thanks for creating your photo</h1><br>
  <h3>You can now save $35 with offer code LKJFDLK#</h3>
  <button>Reserve Now</button> 
  <button class="inviteFriends">Share with Friends</button>

</div>


<!--
<button class="shareButton">Share it</button>
<button class="advancedShareButton">Advanced Share</button>
<button class="advancedShareButton">Advanced Share</button>
-->



