<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
   <system.webServer>
    
      <staticContent>
         <mimeMap fileExtension=".styl" mimeType="text/css" />
         <!--
         <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
         -->
      </staticContent>
      <rewrite>
        <rules>
<!-- need to set up aar in azure:
     http://social.msdn.microsoft.com/Forums/en-US/windowsazuredevelopment/thread/dbe9f003-04e8-420c-b0fc-609cdf30d913/
-->
                <rule name="rewrite all fb image requests" stopProcessing="true"> 
                    <match url="^.*(?:imageproxy).*$" />  <!-- /\?imgpath=(.*) -->
                    <conditions>
                      <add input="{QUERY_STRING}" pattern="url=(.*)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" /> <!-- {R:1} -->
                  
                </rule> 
           <rule name="Remove trailing slash" stopProcessing="true">
  <match url="(.*)/$" />
 <!-- <conditions>
    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
  </conditions> -->
  <action type="Redirect" redirectType="Permanent" url="{R:1}" />
</rule>

            <rule name="redirect all requests" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false" />
                <!-- ^[^\./]+$ -->
                <!-- ^(.*)$ -->
                
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                </conditions> 
                <action type="Rewrite" url="/" appendQueryString="true" />
            </rule>
          
        </rules>
    </rewrite>  
   </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web> 
</configuration>